/*General Styles*/

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*============================*/
/*Typography                  */
/*============================*/

.heading--font {
	font-family: 'Raleway', sans-serif;
}

.body--font {
	font-family: 'Open Sans', sans-serif;
}

/*============================*/
/*Hero                        */
/*============================*/

.hero {
	background-image: linear-gradient(to bottom right,hsl(243, 87%, 12%), hsl(243, 86%, 85%));
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 81%);
	height: 700px;
}

.wrapper--width {
	/*max-width: 90%;*/
	margin: 0 auto;
}

.hero__nav-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 2% 3%;
}

.hero__content-wrapper {
	display: flex;
	justify-content: space-between;
	padding: 2% 3%;
}

.hero__btn-wrapper {
	width: auto;
}

.btn {	
	text-decoration: none;
	background-color: hsl(163, 95%, 43%);
	color: #fff;
	border-radius: 2px;
}

.btn__nav--small {	
	font-weight: 400;
	padding: 10px 20px 10px 20px;		
	margin: 5px;																
}

.btn__nav--small:hover  {
	background-color: hsl(140, 95%, 43%);
	transition: 1s ease-in-out;
}

.heading {
	text-transform: capitalize;
}

.hero__heading {
	color: #fff;
	font-size: 3rem;
}

.hero__flex-item {
	max-width: 47%;
}

.btn__content--big {
	font-weight: 600;
	padding: 15px 100px 15px 100px;
}

/*============================*/
/*Section                     */
/*============================*/

.section__wrapper {
	margin-top: 60px;
}

.section__heading {
	text-align: center;
	color: hsl(243, 58%, 33%);
}

.section__features {
	display: flex;
	justify-content: space-between;
	padding: 2% 3%;
}

.features--grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 13%;
	margin-left: 10%;
}

/*============================*/
/*Email Signup                */
/*============================*/

.sign-up__wrapper {
	max-width: 55%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 200px /*JUST FOR DEVELOPMENT */
}

.sign-up__form {
	display: flex;
	justify-content: center;
	max-width: 80%;
	margin: 0 auto;
	height: 45px;
}

.section__heading--big {
	font-size: 1.9rem;
	color: hsl(243, 87%, 12%);
}

.input-field {
	flex: 2 0 50%;
	border: 0.5px solid rgba(0,0,0,0.05);
	background: #fff;
	box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.2);
	border-radius: 5px;
	padding-left: 5%;
}

::placeholder {
	color: hsl(0, 0%, 50%);
	opacity: 0.4;
	font-weight: 600;
}

input:-webkit-autofill {
	-webkit-text-fill-color: black;
  	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
  	transition: background-color 5000s ease-in-out 0s;
  	overflow: hidden;
  	font-weight: 600;
}

.btn__submit {
	flex: 1 0 20%;
	border: none;
	margin-left: 4%;
	font-weight: 400;
	font-size: 1em;
}

.sign-up__paragraph--blue {
	color: hsl(243, 58%, 33%);
	font-weight: 600;
	font-size: 1.1em;
}